<% if ( success.length > 0) {%>
<div class="absolute z-100 right-5 top-14 min-w-36 notification" >
    <div class="flex bg-white dark:bg-gray-900 items-center px-6 py-2 text-sm border-t-2 rounded-b shadow-sm border-green-500 hover:border-t-0 hover:border-b-2">
        <svg viewBox="0 0 24 24" class="w-8 h-8 text-green-500 stroke-current" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M12 8V12V8ZM12 16H12.01H12ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <div class="ml-3">
            <div class="font-bold text-left text-black dark:text-gray-50">Success</div>
      <div class="w-full text-gray-900 dark:text-gray-300 mt-1"><%=success%></div>
        </div>
    </div>
</div>

<%}%>


<% if (error.length != 0 ) {%>
<div class="absolute z-100 right-5 top-14 min-w-36 notification" >
    <div class="flex bg-white dark:bg-gray-900 items-center px-6 py-2 text-sm border-t-2 rounded-b shadow-sm border-red-500 hover:border-t-0 hover:border-b-2">
        <svg viewBox="0 0 24 24" class="w-8 h-8 text-red-500 stroke-current" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M12 8V12V8ZM12 16H12.01H12ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <div class="ml-3">
            <div class="font-bold text-left text-black dark:text-gray-50">Error</div>
      <div class="w-full text-gray-900 dark:text-gray-300 mt-1"><%=error%></div>
        </div>
    </div>
</div>


<%}%>

<% if (warning.length != 0 ) {%>
<div class="absolute z-100 right-5 top-14 min-w-36 notification" >
    <div class="flex bg-white dark:bg-gray-900 items-center px-6 py-2 text-sm border-t-2 rounded-b shadow-sm border-red-500 hover:border-t-0 hover:border-b-2">
        <svg viewBox="0 0 24 24" class="w-8 h-8 text-red-500 stroke-current" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M12 8V12V8ZM12 16H12.01H12ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <div class="ml-3">
            <div class="font-bold text-left text-black dark:text-gray-50">Warning</div>
      <div class="w-full text-gray-900 dark:text-gray-300 mt-1"><%=warning%></div>
        </div>
    </div>
</div>
<%}%>

<script src = '/js/flash.js'></script>
