<% layout('layouts/boilerplate') %>
<div class = 'min-h-screen'>
  <h1 class = 'absolute ml-[20px] mt-[20px] text-white text-3xl'>/<%=url%> Not found !!</h1>
  <img src="/images/error.png" alt="error_404">
</div>
